<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirigir todas las solicitudes a index.php
    RewriteBase /inventify/

    # Si no es una solicitud de archivo real, redirigir a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /inventify/index.php [L]
</IfModule>
